@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
    font-family: "Segoe UI";
    src: local("Segoe UI"), url(./fonts/Segoe_UI.ttf) format("truetype");
}

@layer utilities {
    .placeholder-segoeUI::placeholder{
      @apply font-segoeUI
    }
  }


  /* .navBorderBottom {
    position: relative;
  }
  
  .navBorderBottom:after {
    content: "";
    background-image: linear-gradient(to right, #0177ed, #004fa0);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70%;
    height: 3px;
  } */